* {
    margin: 0%;
}

.parallax {
    /* The image used */
    background-image: url("./background\ Image.jpeg");

    /* Set a specific height */
    min-height: 800px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color: #2828f3;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
}



nav a {
    display: block;
    color: rgb(16, 16, 16);
    text-align: center;
    padding: 9px;
    text-decoration: none;
}

nav a:hover {
    background-color: #22e753;
}