* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0%;
}

.parallax {
    /* The image used */
    background-image: url("./background\ Image.jpeg");
    /* Set a specific height */
    min-height: 800px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.container {
    position: relative;
    top: 200px;
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #1877f2;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #1877f2;
    color: #cbc3c3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

button[type="submit"]:hover {
    background-color: #1659a6;
}

a {
    text-align: center;
    color: #d7dadf;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}